body {
  background:white;
}

.pagebreak {
  clear: both;
  page-break-before: always;
}

.PaperP {
  width:900px;
  max-width:900px;
  display:block;
  overflow-x: auto;
  margin:0;
  background:white;
}

.PaperL {
  width:1400px;
  max-width:1400px;
  display:block;
  overflow-x: auto;
  margin:0;
  background:white;
}

.PerfT {
  border-width:thin;
}

.Pic0 {
  height:161;
  width:207;
  max-width:207;
  border-style:solid none solid solid;
  background:AliceBlue;
}

.Pic1 {
  height:161;
  width:207;
  max-width:207;
  border-style:solid solid solid none;
  right:1;
  background:Linen;
}

.PL0, .PL1, .PL2 {
  max-width:205;
  max-height:211;
}

.Desc0 {
  height:69;
  width:490;
  max-width:490;
  border-style:solid solid solid none;
  background:AliceBlue;
}

.Desc1 {
  height:69;
  width:490;
  max-width:490;
  border-style:solid none solid solid;
  margin:0;
  background:Linen;
}

.PName0 {
  font-weight:bold;
  font-size:14pt;
}

.PName1 {
  font-weight:bold;
  font-size:16pt;
}

.PName2 {
  font-weight:bold;
  font-size:18pt;
}

.PDesc0, .PDesc1, .PDesc2 {
  font-size:13.3pt;
}

.DayHead {
  font-weight:bold;
  font-size:16pt;
}  

.SherlockAge {
	float:right; 
}

/*


.PPair {
  position:static;
  width:auto;
  height:115;
  border:1px;
  border-color:gray;
}
 
.PPPicP0 {
  position: absolute;
  width:15%;
  height:120;
  left:2;
  top:2;
  border-top:1px;
  border-left:1px;
  border-bottom:1px;
}

.PPPicP1 {
  position: absolute;
  width:15%;
  height:120;
  right:2;
  top:2;
  border-top:1px;
  border-right:1px;
  border-bottom:1px;
}

.PPPic0 {
  width:100%;
}
.PPPic1 {
  width:100%;
}
.PPPic2 {
  width:100%;
}

.PPDescP0 {
  position: absolute;
  width:15%;
  height:60;
  left:16%;
  top:2;
  border-top:1px;
  border-right:1px;
  border-bottom:1px;
}

.PPDescP1 {
  position: absolute;
  width:15%;
  height:60;
  left:16%;
  bottom:2;
  border-top:1px;
  border-left:1px;
  border-bottom:1px;
}

.PPDesc0 {
  position: static;
  font-size:12pt;
}

.PPDesc1 {
  position: static;
  font-size:12pt;
}

.PPDesc2 {
  position: static;
  font-size:12pt;
}

.PPName0 {
  position: static;
  font-weight:bold;
  font-size:12pt;
}

.PPName1 {
  position: static;
  font-weight:bold;
  font-size:14pt;
}

.PPName2 {
  position: static;
  font-weight:bold;
  font-size:16pt;
}
*/
