.*.swp
int/.*.swp
.htaccess
tickets
OldStuff/*
int/Configuration.ini
files/.*
images/Sides
images/Works
images/Trade
images/Venues
images/Gallery
images/TradeMaps
images/ArtImages
images/ArticleImgs
images/Volunteers
images/Sponsors
int/ArchiveImages
int/Store
int/OldStore
int/Insurance
int/PAspecs
int/RiskAssessment
int/Temp
int/LogFiles
int/Archive
int/Contracts
int/testing
int/Invoices/*
int/Invoices/OldInvoices
int/Config.txt
devtools
cache
Schema/.skeema
favicon.ico
apple-touch*
fred*
*/fred
/nbproject/
.DS_Store